body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  color: #fff;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.logo img {
  width: 100%;
  max-width: 120px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.navigation a:hover {
  color: #f2f2f2;
}

.main-container {
  margin-left: 200px;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.prev-next-buttons button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
}

.navbar .divider {
  margin: 0 10px;
  color: #777;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}

